<!-- app/templates/taskmodule/tasks.html -->

{% import "bootstrap/utils.html" as utils %}
{% extends "base.html" %}
{% block title %}Tasks{% endblock %}
{% block body %}
<div class="content-section">
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <br/>
        {{ utils.flashed_messages() }}
        <br/>
        <h1 style="text-align:center;">Tasks</h1>
        {% if mytasks %}
          <hr class="intro-divider">
          <div class="center">
            <table class="table table-striped table-bordered">
              <thead>
                <tr>
                  <th width="30%"> Title </th>
                  <th width="70%"> Description </th>

                </tr>
              </thead>
              <tbody>
              {% for task in mytasks %}
                <tr>
                  <td> {{ task.title }} </td>
                  <td> {{ task.description }} </td>
                  <td>
                    <a href="{{ url_for('taskmodule.edit_task', id=task.id) }}">
                      <i class="fa fa-pencil"></i> Edit 
                    </a>
                  </td>
                  <td>
                    <a href="{{ url_for('taskmodule.delete_task', id=task.id) }}">
                      <i class="fa fa-trash"></i> Delete 
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div style="text-align: center">
        {% else %}
          <div style="text-align: center">
            <h3> No tasks have been added. </h3>
            <hr class="intro-divider">
        {% endif %}
          <a href="{{ url_for('taskmodule.add_task') }}" class="btn btn-default btn-lg">
            <i class="fa fa-plus"></i>
            Add Task
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}